<div id='header-region'></div>
<div id='main-region'></div>
<div id='dialog-region'></div>
<footer id='footer-region'></div>

<%= javascript_tag do %>
  $(function() {
    RB.start({
    })
  })
<% end %>
